<!DOCTYPE html>
<html lang="en">

<head>
    <title>Random Build Generator</title>
    <link rel="icon" href="../static/img/wizard.ico">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src=""></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
</head>

<body class="vh-100 d-flex flex-column justify-content-between">
    <header class="">
        <nav class="navbar vw-100 navbar-dark bg-dark text-light d-flex justify-content-between align-content-center px-5">
            {% if not 'user_id' in session %}
                <div>
                    <p class="h2 mt-2 eaves">Welcome!</p>
                </div>
            {% else %}
                <div>
                    <p class="h2 mt-2 eaves">Welcome, {{user.username}}!</p>
                </div>
            {% endif %}
            <div class="text-light d-flex gap-3">
                {% if not 'user_id' in session %}
                    <a class="btn btn-secondary" href="/users/register">Register</a>
                    <a class="btn btn-secondary" href="/users/login">Login</a>
                {% else %}
                    <a name="" id="" class="btn btn-success" href="/users/{{session['user_id']}}/builds" role="button">Saved Builds</a>
                    <a class="btn btn-outline-danger" href="/logout">Logout</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main class="pt-3 has-bg-img">
        <div class="container h-100">
            <div class="content d-flex flex-column justify-content-center align-items-center h-100">
                <form action="/builds/save" class="d-flex flex-column justify-content-center align-items-center h-100"
                    method="post">
                    <div id="api-content">
                        <p class="title eaves text-light">generate a random build</p>
                        <!-- TABLE WILL BE CREATED IN JS -->
                    </div>
                    <input type="hidden" class="form-control" name="user_id" value="{{session['user_id']}}">
                    {% if 'user_id' in session %}
                        <button type="submit" id="saveButton" class="btn btn-primary visually-hidden">Save Build</button>
                    {% else %}
                        <p class="h5 visually-hidden text-light" id="warning">You must <button class="text-primary text-decoration-underline fs-5 regBtn" type="submit">register</button> to save your builds</p>
                    {% endif %}
                </form>
                <div class="d-flex flex-column gap-2 mt-2 mb-5 justify-content-center align-item-center" id="genBtns">
                    <button type="button" class="btn btn-dark" onclick="getData()">Generate Random</button>
                    <button type="button" class="btn btn-dark" id="genBtn2" onclick="showInputs()">Generate with Inputs</button>
                </div>
            </div>
        </div>
    </main>
    <footer class="d-flex justify-content-end">
        <!-- place footer here -->
        <a href="https://www.flaticon.com/free-icons/wizard" title="wizard icons" class=" mx-1" id="wizard">Wizard icon created by Freepik - Flaticon</a>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/script.js') }}"></script>
    <!--link script the flask way-->
</body>

</html>