<!DOCTYPE html>
<html lang="en">

<head>
    <title>Random Build Generator</title>
    <link rel="icon" href="../static/img/wizard.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


</head>

<body class="">
    <header class="position-absolute">
        <nav class="navbar vw-100 navbar-dark bg-dark text-light d-flex justify-content-between px-5">
                    <p class="h2">Welcome!</p>
                    <div class="text-light d-flex gap-3">
                        <a class="btn btn-secondary" href="/users/register">Register</a>
                        <a class="btn btn-secondary" href="/users/login">Login</a>
                    </div>
        </nav>
    </header>
    <main class="vh-100 position-relative has-bg-img">
        <img src="https://r4.wallpaperflare.com/wallpaper/106/109/184/dungeons-and-dragons-jedd-chevrier-dungeons-and-dragons-curse-of-strahd-tabletop-role-playing-game-in-the-fantasy-genre-hd-wallpaper-f950e84df1eafdcb5697f86f5041e66d.jpg" alt="background" class="bg-img">
        <div class="container h-100">
            <div class="content d-flex flex-column justify-content-center align-items-center h-100">
                <div id="api-content">
                </div>
                <a href="/generate" id="generate" class="btn btn-dark">Generate</a>
            </div>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>